
Project-B/HomeTour/.metadata/.lock
Project-B/HomeTour/.metadata/.log
*.json
*.properties
*.css
Project-B/HomeTour/.metadata/.plugins/org.eclipse.core.resources/.projects/HomeTour/.location
Project-B/HomeTour/.metadata/.plugins/org.eclipse.core.resources/.projects/Project-B/.location
*.snap
*.version
*.index
*.tree
*.resources
*.prefs
*.xmi
Project-B/HomeTour/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Project-B/HomeTour/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.txt
Project-B/HomeTour/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.xml
*.log
*.setup
Project-B/HomeTour/.metadata/.plugins/org.eclipse.ui.intro/introstate
*.check
*.ini
Project-B/HomeTour/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.history
*.png
